* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* HEADER */

.navbar {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #eee;
  /* position: sticky; */
  z-index: 1000;
  top: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

/* Logo */
.logo img {
  height: 36px;
  width: auto;
  /* object-fit: contain; */
  display: block;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Button */
.btn-primary {
  background: #2E398B;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* STICKY HEADER */
#stickyHeader {
  position: fixed;
  top: -80px;
  width: 100%;
  background: #fff;
  color: #000;
  padding: 10px 0;
  transition: 0.3s;
  z-index: 1000;
  font-size: 14px;
}

#stickyHeader.active {
  top: 0;
}

.sticky-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sticky-price {
  display: flex;
  flex-direction: column;
}

/* HERO */
.hero {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.breadcrumb {
  font-size: 12px;
  color: grey;
  margin: 0px 60px;
}

.carousel {
  flex: 1.3;
}

.main-image {
  position: relative;
}

.main-image img {
  width: 100%;
  border-radius: 10px;
}

/* ZOOM */
.zoom {
  position: absolute;
  top: 0;
  left: 105%;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  display: none;
  border: 1px solid #ccc;
}

.main-image:hover .zoom {
  display: block;
}

/* THUMBNAILS */
.thumbnails {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.thumb {
  width: 60px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 6px;
}

.thumbnails .thumb.active {
  opacity: 1;
  border: 2px solid black;
}

/* CONTENT */
.hero-content {
  flex: 1;
}

.badges button {
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  margin-right: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hero-content h1 {
  font-size: 30px;
}

.hero-content p {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-content p span {
  font-size: 14px;
}

.price-box {
  display: inline-block;
  padding: 8px 8px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: #fff;
}

.price-box h3 {
  margin: 6px 0px;
}

.items {
  display: inline-block;
  background-color: #fef3c7;
  color: #92400d;
  padding: 0px 15px;
  margin: 6px 2px;
  border-radius: 8px;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* BRANDING */

.branding{
  padding-bottom: 60px;
  background-color: #F3F3F3;
}

.branding p {
  color: gray;
}

.companies img {
  width: 15%;
  padding-bottom: 24px;
}

/* SPECS */
.specs {
  background: #0b1220;
  color: white;
  padding: 40px 0;
}

.specs-header {
  width: 100%;
}

.specs-header p {
  font-size: 14px;
  color: gray;
}

.specs table {
  font-size: 12px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 14px;
  background-color: #212936;
}

.specs td {
  width: 50%;
  padding: 10px 10px;
  border-bottom: 1px solid #333;
}

.download-specs {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  color: white;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 10px 15px;
}

/* Overlay background */
.btn-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal box */
.modal {
  background: #fff;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  position: relative;
  animation: fadeIn 0.3s ease;
}

.closeBtn {
  font-size: 12px; 
  cursor: pointer;
  color: #000;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 30px 0;
  background-color: lightgray;
  border-radius: 10px 10px 0 0;
}

.modal h3 {
  width: 80%;
  margin-bottom: 15px;
  font-size: 16px;
  color: #000;
}

.modal form{
  padding: 15px 30px;
}

.modal label {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #555;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 13px;
}

.submitBtnBlock{
  display: flex;
  justify-content: end;
  background-color: lightgray;
  padding: 15px 30px;
  border-radius: 0 0 10px 10px;
}


/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* FEATURES */
.features {
  padding: 60px 0;
  background-color: #F3F3F3;
  gap: 20px;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 32%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* FAQ */
.faq-container{
  background-color: #F3F3F3;
  padding-bottom: 60px;
}

.faq-item {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 8px;
}

.faq-question {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  background-color: #FFF;
  border-radius: 10px 10px 0 0;
}

.faq-answer {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 14px;
  color: #555;
  background-color: #FFF;
  border-radius: 0 0 10px 10px;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 15px;
}

.arrow {
  transition: transform 0.3s ease;
  color: #000;;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}

.email {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #F7F8F9;
}

.email-content *{
  margin: 4px;
}

.email-block input {
  width: 250px;
  margin-bottom: 8px;
  padding: 8px 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

/* ABOUT */

.about {
  width: 100%;
  background-color: #F3F3F3;
  padding-bottom: 60px;
}

.about-header{
  width: 50%;
}

.arrows{
  width: 25%;
}

.arrows button {
  border: 1px solid #ddd;
  background: white;
  padding: 10px 14px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
}

/* Slider */
.card-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top: 30px;
}

/* Hide scrollbar */
.card-container::-webkit-scrollbar {
  display: none;
}

.about-card {
  width: 240px;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.about-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: white;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%, transparent);
}

.overlay h5 {
  margin: 0 0 5px;
  color: #F8F8F8;
}

.overlay p{
  font-size: 12px;
  color: #B3B1B0;
}

/* PROCESS */
.process {
  text-align: center;
  padding-bottom: 60px;
  background-color: #F3F3F3;
}

.subtitle {
  margin: 10px auto 30px;
  max-width: 600px;
  color: #666;
}

.process-content{
   background: #fff;
  padding: 30px;
  border-radius: 15px;
}

/* TABS */
.tabs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.tab {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.tab.active {
  background: #2E398B;
  color: white;
}

/* CARD */
.process-card {
  display: flex;
  gap: 30px;
  align-items: center;
}

.process-card-content {
  flex: 1;
  text-align: left;
}

.process-card-content h3 {
  margin-bottom: 10px;
}

.process-card-content ul {
  margin-top: 10px;
  padding-left: 20px;
}

/* IMAGE */
.image-box {
  position: relative;
  flex: 1;
}

.image-box img {
  width: 450px;
  height: 200px;
  border-radius: 10px;
  
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.arrow.left {
  top: 30%;
  left: 10px;
  rotate: 180deg;
}

.arrow.right {
  right: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .process-card {
    flex-direction: column;
  }
}






/* TESTIMONIAL */

.testimonials {
  background: #f3f3f3;
  padding-bottom: 60px;
}

.testi-header-box {
  padding:  25px; 
  text-align: center;
}

.testi-header-box p {
  color: #666;
}

.testi-cards {
  display: flex;
  align-items: stretch; 
  gap: 20px;
  position: relative;
  overflow-x: auto; 
  width: 100%;   
  scroll-behavior: smooth; 
}

.testi-cards::-webkit-scrollbar{
  display: none;
}

.testi-card {
  width: 320px;
  height: auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #eee;
  flex-shrink: 0;
}

.quote {
  font-size: 40px;
  color: #2E398B;
}

.testi-card h3 {
  margin: 10px 0;
}

.testi-card p {
  color: #666;
margin: 0;
}

/* USER */
.user {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #ddd;
  border-radius: 50%;
  margin-right: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .card {
    min-width: 260px;
  }

  .arrow {
    display: none;
  }
}

/* PORTIFOLIO */
.portfolio-container{
  background-color: #f3f3f3;
  padding-bottom: 60px;
}

.portifolio-header{
  width: 100%;
  text-align: center;
}

.portifolio-header p{
  color: #666;
}

.portifolio-cards {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
}

.portifolio-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #eef2f8;
  padding: 1.8rem 1.6rem 1.8rem 1.6rem;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02);
}

.portifolio-card:hover {
  border-color: #cfdfed;
  box-shadow: 0 12px 24px -12px rgba(0, 60, 80, 0.12);
  transform: translateY(-2px);
}

.portifolio-card h2{
  margin: 0;
}

.portifolio-card p{
  color: #666;
  font-size: 14px;
}

.portifolio-card img{
  width: 300px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.portifolio-card button{
  width: 300px;
  border-radius: 6px;
  border: 1px solid #666;
  padding: 8px;
  color: #666;
  font-weight: 600;
}

.portifolio-card button:hover {
    color: #fff;
    background-color: #666;
}

.expert-section {
  width: 100%;
    border-radius: 24px;
    padding: 1.8rem 2rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    background-color: #fff;
}

.expert-text {
    display: flex;
    flex-direction: column;
}

.expert-text h2{
  margin: 5px 0;
}

.expert-text p{
    font-size: 0.9rem;
    color: #5f6f80;
    margin: 0;
}

/* DOWNLOAD  */
.download{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 60px;
  background-color: #f3f3f3;
}

.download h2{
  margin: 0;
}

.download p{
  text-align: center;
  color: #666;
}

.resources{
  width: 80%;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.resource{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resource p{
  margin: 4px 0;
}

.resource a{
  color: #2E398B;
  text-decoration: none;
  font-size: 14px;
}

/* FORM SECTION  */

.form-section{
  background-color: #f3f3f3;
  padding-bottom: 60px;
}

.form-content{
  background-color: #242E6F;
  display: flex;
  padding: 50px;
  gap: 70px;
  border-radius: 24px;
  margin-bottom: 24px;
}

.form-text{
  width: 55%;
}

.form-text h1{
  color: #fff;
}

.form-text p,hr{
  color: #979BBA;
  font-size: 12px;
}

.form{
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: #F7F8F9;
  padding: 20px;
  border-radius: 12px;
}

.form h4{ 
  margin: 10px 0;
}

.form input{
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 8px;
  border: 1px solid #E3E5E9;
}

.form button{
  background-color: #272A2E;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
}


/* FOOTER  */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F3F3F3;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 14px;
  width: 90%;
  margin-bottom: 12px;
  background-color: #FFF;
}

.footer-title h4{
  width: 22%;
  margin: 5px 0;
}

.footer-container {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 30PX;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #000;
}

.footer-col p {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-col div{
  display: flex;
  align-items: center;
  gap: 6px;
}

.socials span {
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* Bottom bar */
.footer-bottom {
  width: 100%;
  padding: 0px 10px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #777;
  align-items: center;
}

.footer-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #777;
}

.footer-links a:hover {
  color: #000;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}





/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}